# Xcode & Swift
.DS_Store
*/build/
build/
DerivedData/
*.xcodeproj
*.xcworkspace
xcuserdata/
*.ipa
Payload/
.idea/
.vscode/
.gitlocal/
__pycache__/
*.pyc
*.session
*.session-journal
*.db
*.db-journal
